<div class="row">
  <div class="col-md-5">
    <h2>Myfridge</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let food of myfridgefood"
        (click)="selectFood(food)"
        [class.active]="food === selectedFood">
        {{food.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewFood()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <myfridge-details
      [food]="selectedFood"
      [createHandler]="addFood"
      [updateHandler]="updateFood"
      [deleteHandler]="deleteFood">
    </myfridge-details>
  </div>
</div>