<div *ngIf="food" class="row">
  <div class="col-md-12">
    <h2 *ngIf="food._id">Food Details</h2>
    <h2 *ngIf="!food._id">New Food Details</h2>
  </div>
</div>
<div *ngIf="food" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="food-name">Name</label>
      <input class="form-control" name="food-name" [(ngModel)]="food.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="food-date">Date</label>
      <input class="form-control" name="food-date" [(ngModel)]="food.date" placeholder="Date"/>
    </div>
      <div class="form-group">
      <label for="food-expiry">Expiry</label>
      <input class="form-control" name="food-expiry" [(ngModel)]="food.expiry" placeholder="Expiry"/>
    </div>
      <div class="form-group">
      <label for="food-left-overs">Left-overs</label>
      <input class="form-control" name="food-left-overs" [(ngModel)]="food.left_overs" placeholder="left-overs"/>
    </div>
      <div class="form-group">
      <label for="food-quantity">Quantity</label>
      <input class="form-control" name="food-quantity" [(ngModel)]="food.quantity" placeholder="Quantity"/>
    </div>
    <button class="btn btn-primary" *ngIf="!food._id" (click)="createFood(food)">Create</button>
    <button class="btn btn-info" *ngIf="food._id" (click)="updateFood(food)">Update</button>
    <button class="btn btn-danger" *ngIf="food._id" (click)="deleteFood(food._id)">Delete</button>
  </form>
</div>